
<div class="text-center">
    <h1 class="mt-4">Bienvenido Proyecto Backend II</h1>
    <p class="lead">Por favor, inicia sesión o regístrate para continuar.</p>
    <a href="/register" class="btn btn-primary">Registrarse</a>
    <a href="/login" class="btn btn-secondary">Iniciar Sesión</a>
</div>